* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerLogo {
    width: 100px;
    height: 100px;
}

.logo {
    width: 100%;
    border-radius: 8%;
}

.navbar {
    background-color: goldenrod;
}

.navbar a {
    color: black;
}

.navbar:active {
    color: red;
}

.jumbotron {
    background-image: url(img/barrilcervezas.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
    margin-bottom: 0;
}

.jumbotron h1 {
    color: beige;
    font-size: 45px;
}

.jumbotron p {
    color: red;
    text-shadow: 0 0 2px #333;
    font-size: 20px;
}

/*Sección 1*/
.servicios1 {
    background-color: red;
    min-height: 550px;
    width: 100%;
}

.feature {
    background-color: goldenrod;
    height: 270px;
    width: 100%;
    border: 2px solid red;
    border-radius: 5%;
    padding: 5px 10px;
}

.feature h4 {
    text-align: center;
    color: beige;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.feature img {
    align-items: center;
    width: 100%;
    height: 85%;
}


/*Sección 2*/
.h2 {
    background-color: goldenrod;
    color: beige;
    text-align: center;
    font-size: 25px;
}
.seccion2 {
    width: 100%;
    min-height: 200px;
}

.h3 {
    color: beige;
    text-align: center;
    font-size: 22px;
}

h4 {
    color: red; 
    padding-left: 20px;}

.seccion2 p {
    color: black;
    text-align: center;
    font-size: 20px;
    text-align: start;
    width: 70%;
    padding-left: 30px;
}

.sleft {
    background-image: url(img/flamenco2.svg);
    background-size: cover;
    background-position: center;    
    width: 33.33%;
    height: 500px;
    text-align: start;
}

.sright {
    background-image: url(img/flamenco1.svg);
    background-size: cover;
    background-position: initial;    
    width: 33.33%;
    height: 500px;    
}

.sec {
    width: 33.33%;
    
}

.carousel-inner img {
    width: 100%;
    height: 100%;

}

.carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 2px solid goldenrod;
}

.carousel-item p {
    color: beige;
    text-align: center;
width: 100%;
}

/*Sección 4*/
.servicios4 {
    background-color: red;
    min-height: 150px;
    width: 100%;
}

.feature4 {
    background-color: goldenrod;
    height: 150px;
    width: 100%;
    border: 2px solid red;
    border-radius: 5%;
    padding: 10px 20px;
}

.feature4 h4 {
    text-align: center;
    color: beige;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.feature4 i {
    text-align: center;
    color: red;
    font-size: 20px;
}

.feature4 p {
    text-align: justify;
    color: beige;
}


footer {
    background-color: red;
    width: 100%;
    min-height: 100px;
    color: beige;
    padding: 20px;
}

footer p {
    font-size: 20px;
}

footer a {
    color: beige;
    font-size: 20px;
    letter-spacing: 20px;
    text-align: center;
}

.subir {
    height: 40px;
    width: 40px;
    background-color: goldenrod;
    border: 3px solid #fff;
    color: #333;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 4px 4px 15px #000;
}

/* Nosotros */
.h2_subtitulo {
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #fff;
}

.nosotros {
    height: 450px;
    width: 98%;
    background-attachment: fixed;
    display: flex;
}

.borde {
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}

.nleft {
    width: 50%;
    background-image: url(img/nosotros.jpg);
    border: 5px solid #fff;
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin: 10px;
}

.nleft img {
    width: 100%;
}

.nrigth {
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    padding: 10px;
}

.nrigth h3 {
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nrigth p {
    padding-bottom: 10px;
    font-size: 12px;
}

.nrigth a {
    height: 5px;
    background-color: goldenrod;
    color: #000;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    border: 2px solid #000;
    width: 600;
    padding: 2px;
    margin-left: 90px;
}

.nrigth a:hover {
    background-color: darkgoldenrod;
}

.galeria {
    background-color: red;
    min-height: 600px;
    width: 98%;
    padding: 3%;
    gap: 3px;
}

.img {
    border: 5px solid #fff;
    height: 280px;
    color: mintcream;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-align: center;
    transition: all 0.75s;
}

.img:hover {
    transform: scale(1.05);
    transition: all 0.75s;
    filter: sepia(100%);
}

.img1 {
    background-color: blueviolet;
    background-image: url(img/fabrica.jpg);
    background-size: cover;
    background-position: center;
}

.img2 {
    background-color: darkslategray;
    background-image: url(img/2.jpg);
    background-size: cover;
    background-position: center;
}

.img3 {
    background-color: red;
    background-image: url(img/3.jpeg);
    background-size: cover;
    background-position: center;
}

.img4 {
    background-color: blue;
    background-image: url(img/4.jpeg);
    background-size: cover;
    background-position: center;
}

.img5 {
    background-color: chartreuse;
    background-image: url(img/vaso.jpg);
    background-size: cover;
    background-position: center;
}

.img6 {
    background-color: crimson;
    background-image: url(img/guayamuri.jpg);
    background-size: cover;
    background-position: center;
}

.img7 {
    background-color: cornflowerblue;
    background-image: url(img/alcazares.jpg);
    background-size: cover;
    background-position: center;
}

.img8 {
    background-color: chocolate;
    background-image: url(img/pescadores.jpg);
    background-size: cover;
    background-position: center;
}

/*Menu*/
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;    
    height: 100%;
    color: #000;
    justify-content: center;
    align-items: baseline;
    padding: 5px;
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}

.titulosMenu {
    font-size: 16px;
    text-align: center;
}

.tabla_Container {
    flex-direction: row;
    background-color: goldenrod;
    align-items: center;
    width: 30%;
    height: 100%;
    font-size: 12px;
    box-shadow: 5px 5px 7px 0px #000;

}

.animacion1 {
    animation-name: animacion1;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

@keyframes animacion1 {

    0% {
        border-radius: 0%;
        background-color: goldenrod;
    }

    35% {
        border-radius: 5%;
        background-color: #ffbf00;
        transform: translateX(300px);
    }

    65% {
        border-radius: 5%;
        background-color: gold;
        transform: translateX(300px);
        transform: translatey(200px);
    }

    100% {
        border-radius: 0%;
        background-color: darkgoldenrod;
    }
}

.animacion2 {
    animation-name: animacion2;
    animation-duration: 5s;
    animation-delay: 4s;
    animation-iteration-count: 1;
}

@keyframes animacion2 {

    0% {
        border-radius: 0%;
        background-color: goldenrod;
    }

    35% {
        border-radius: 5%;
        background-color: #ffbf00;
        transform: translateX(300px);
    }

    65% {
        border-radius: 5%;
        background-color: gold;
        transform: translateX(300px);
        transform: translatey(200px);
    }

    100% {
        border-radius: 0%;
        background-color: darkgoldenrod;
    }
}

.animacion3 {
    animation-name: animacion3;
    animation-duration: 5s;
    animation-delay: 6s;
    animation-iteration-count: 1;
}

@keyframes animacion3 {

    0% {
        border-radius: 0%;
        background-color: goldenrod;
    }

    35% {
        border-radius: 5%;
        background-color: #ffbf00;
        transform: translateX(300px);
    }

    65% {
        border-radius: 5%;
        background-color: gold;
        transform: translateX(300px);
        transform: translatey(200px);
    }

    100% {
        border-radius: 0%;
        background-color: darkgoldenrod;
    }
}

.animacion4 {
    animation-name: animacion4;
    animation-duration: 5s;
    animation-delay: 8s;
    animation-iteration-count: 1;
}

@keyframes animacion4 {

    0% {
        border-radius: 0%;
        background-color: goldenrod;
    }

    35% {
        border-radius: 5%;
        background-color: #ffbf00;
        transform: translateX(300px);
    }

    65% {
        border-radius: 5%;
        background-color: gold;
        transform: translateX(300px);
        transform: translatey(200px);
    }

    100% {
        border-radius: 0%;
        background-color: darkgoldenrod;
    }
}

.animacion5 {
    animation-name: animacion5;
    animation-duration: 5s;
    animation-delay: 10s;
    animation-iteration-count: 1;
}

@keyframes animacion5 {

    0% {
        border-radius: 0%;
        background-color: goldenrod;
    }

    35% {
        border-radius: 5%;
        background-color: #ffbf00;
        transform: translateX(300px);
    }

    65% {
        border-radius: 5%;
        background-color: gold;
        transform: translateX(300px);
        transform: translatey(200px);
    }

    100% {
        border-radius: 0%;
        background-color: darkgoldenrod;
    }
}

.animacion6 {
    animation-name: animacion6;
    animation-duration: 5s;
    animation-delay: 12s;
    animation-iteration-count: 1;
}

@keyframes animacion6 {

    0% {
        border-radius: 0%;
        background-color: goldenrod;
    }

    35% {
        border-radius: 5%;
        background-color: #ffbf00;
        transform: translateX(300px);
    }

    65% {
        border-radius: 5%;
        background-color: gold;
        transform: translateX(300px);
        transform: translatey(200px);
    }

    100% {
        border-radius: 0%;
        background-color: darkgoldenrod;
    }
}


/*Reservaciones*/
.reservaciones {
    background-image: url(img/flamenco1.svg);
    background-size: auto;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border: 2px solid red;
    padding: 10px;
    margin: 10px;   
}

.formContainer {
    background-color: goldenrod;
    width: 70%;
    box-shadow: 5px 5px 7px 0px #333;    
    color: white;
    padding: 20px;
    align-items: center;
}

.formContainer__title {
    color: beige;
    font-size: 14px;
}

.form {
    text-align: center;
}

.form__label {
    color: beige;
    display: inline-block;
    width: 60%;
    text-align: left;
    font-weight: 600;
}

.form__input,
.form__texarea {
    background-color: white;
    width: 60%;
    margin: 8px;
    padding: 8px;
    color: #333;
    border: none;
    border-bottom: solid 1px #ffbf00;
    font-family: 'Domine', serif;
    font-size: 14px;
}

.form__texarea {
    color: #333;
    height: 80px;
    resize: none;
}

.form__input:focus,
.form__texarea:focus {
    color: #333;
    outline: none;
}

.form__input--submit {
    color: #333;
    background-color: white;
    margin-top: 24px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.form__input--submit:hover {
    background-color: darkgoldenrod;
}

/*Contacto*/

.secContacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}

.divContacto {
    background-color: goldenrod;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.i {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 32px;
    color: #000;
    margin-bottom: 10px;
    padding: 0.5rem;
    animation-name: moto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 2s;
}

#mapa {
    width: 500px;
    height: 400px;
}

@keyframes moto {

    0% {
        width: 100px;
        color: black;
    }

    20% {
        width: 120px;
        color: #ffbf00;
        padding-left: 20%;
    }

    40% {
        width: 140px;
        color: red;
        padding-left: 40%;
    }

    60% {
        width: 160px;
        color: black;
        padding-left: 60%;
    }

    80% {
        width: 180px;
        color: yellow;
        padding-left: 80%;
    }

    90% {
        width: 190px;
        color: red;
        padding-left: 90%;
    }

    100% {
        width: 200px;
        color: black;
        padding-left: 100%;
    }
}

#mapa {
    flex-shrink: initial;
    width: 100%;
    height: 100%;
}